@font-face {
  font-family: 'Flaticon';
  src: url('../fonts/Flaticon2b972b97.woff?h1k3hs') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="flaticon-"], [class*=" flaticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Flaticon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flaticon-check:before {
  content: "\f131";
}
.flaticon-menu-2:before {
  content: "\f14e";
}
.flaticon-pin-1:before {
  content: "\f1ad";
}
.flaticon-email-2:before {
  content: "\f1ae";
}
.flaticon-call:before {
  content: "\f1b0";
}
